extends ../layouts/main-layout
block content
        section.vh-100
            .container-fluid.h-custom.mt-5
                .row.d-flex.justify-content-center.h-100
                    .col-md-8.col-lg-6.col-xl-4.offset-xl-1
                        if errorMessage 
                            .alert.alert-danger #{errorMessage}
                        form(action="/account/new-password", method="post")
                            input(type="hidden", name="_csrf", value=`${csrfToken}`)
                            input(type="hidden", name="userId", value=`${userId}`)
                            input(type="hidden", name="passwordToken", value=`${passwordToken}`)
                            //- <!-- Email input -->
                            .form-outline.mb-4
                                label.form-label(for="password") Password 
                                input(type="password" placeholder="Enter a valid new password" name="password" id="password").form-control.form-control-lg

                            .text-center.text-lg-start.mt-4.pt-2
                                    button(type="submit" style="padding-left: 2.5rem; padding-right: 2.5rem;").btn.btn-primary.btn-lg Save     