nav.navbar.navbar-expand-lg.navbar-dark.bg-primary 
    .container-fluid 
        a.navbar-brand Shopping 
        .collapse.navbar-collapse#navbarSupportContent 
            ul.navbar-nav.me-auto.mb-2.mb-lg-0 
                li.nav-item
                    a.nav-link(aria-current='page', href=`/`) Home
                li.nav-item
                    a.nav-link(aria-current='page', href=`/products`) Products

                if isAuthenticated
                    li.nav-item
                        a.nav-link(aria-current='page', href=`/carts`) Cart
                    li.nav-item
                        a.nav-link(aria-current='page', href=`/orders`) Orders

                if isAdmin 
                    li.nav-item
                        a.nav-link(aria-current='page', href=`/admin/products`) Admin Products 
                    li.nav-item
                        a.nav-link(aria-current='page', href=`/admin/categories`) Admin Categories 
                        
            ul.navbar-nav.d-flex.justify-content-between.mr-auto(style="width:100px") 
                if isAuthenticated
                    li.nav-item(style="margin-right:5px")
                        a(href="/account/logout" title="Logout").btn.btn-outline-light.rounded-circle.signin-btn
                            i.fa-solid.fa-right-from-bracket(style="font-size:15px") 
                else 
                    li.nav-item(style="margin-right:5px")
                        a(href="/account/login" title="Signin").btn.btn-outline-light.rounded-circle.signin-btn
                            i.fa-solid.fa-right-to-bracket(style="font-size:15px")   
                    li.nav-item
                    a.btn.btn-light.rounded-circle(title="Signup" href="/account/register") 
                        i.fa-solid.fa-user-plus.text-primary(style="font-size:15px")                  
